<div class="content">
    <div class="ui container">
        <div class="ui grid">
            <div class="three wide column"></div>
            <div class="ten wide column">
                <%= form_for(@group, html: {class: "ui form"}) do |form| %>
                    <div class="field">
                        <%= form.label :name %>
                        <%= form.text_field :name %>
                    </div>
                    <div class="field">
                        <%= form.label :code %>
                        <%= form.number_field :code %>
                    </div>
                    <div class="field">
                        <%= form.label :criteria %>
                        <%= form.select :criteria, [["First", "1st"], ["Second", "2nd"], ["Third", "3rd"]],{}, { class: "ui fluid dropdown" } %>
                    </div>

                    <div class="field">
                        <%= form.label :user_limit %>
                        <%= form.number_field :user_limit %>
                    </div>
                    <% end %>
            </div>
            <div class="three wide column"></div>
        </div>
    </div>
</div>
<div class="actions">
    <input type="submit" class="ui black button" form="new_group" />
</div>
<script>
    $('#users-drop-down .ui.special.dropdown')
        .dropdown({
            useLabels: false,
            maxSelections: 3
        })
        ;
</script>