<div class="ui three column relaxed grid no-margins">

    <div class="three wide column"></div>
    <div class="ten wide column">
        <div class="ui horizontal divider">Group</div>
        <div class="white-col">
            <div class="ui form show-data">
                <div class="field">
                    <label>Title</label>
                    <p>
                        <%= @group.name %>
                    </p>
                </div>
                <br>
                <div class="field">
                    <label>Code</label>
                    <p>
                        <%= @group.code %>
                    </p>
                </div>
            </div>

            <br>
            <div class="ui tiny icon buttons">
                <button class="ui icon button" id="edit_project" data-tooltip="Edit your group">
                    <i class="write icon"></i>
                </button>
                <div class="or"></div>                
                <%= link_to group_path(@group), method: :delete, data: {confirm: "Are you sure?"} do %>
                    <button class="ui icon negative button" data-tooltip="Delete your Group">
                        <i class="trash outline icon"></i>
                    </button>
                    <% end %>
            </div>

            <table class="ui very basic collapsing celled table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            Members
                            <% if (@users.count > 0) and (@group.users.count < @group.user_limit) %>
                                <button class="ui tiny basic right floated button" id="add_new_member" data-tooltip="Add Group member" style="padding: 5px;">
                                    + Add
                                </button>
                            <% end%>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% @group.user_groups.each do |ug| %>
                        <tr>
                            <td>
                                <h4 class="ui image header" style="width: 100%;">
                                    <%= image_tag  ug.user.image_url, class: "ui mini rounded image" %>
                                    <div class="content">
                                        <%= ug.user.name %>
                                        <div class="sub header"><%= ug.user.email %></div>
                                    </div>
                                    <% if @group.created_by == current_user.id and ug.user_id != @group.created_by %>
                                        <%= link_to "Remove",  user_group_path(ug), method: :delete, class: "ui right floated tiny basic button", data: {confirm: "Are you sure?"} %>
                                    <% end %>
                                </h4>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="three wide column"></div>    
</div>
<!-- <div class="custom-create-new-project" id="add_new_member" data-tooltip="Add Group member">+</div> -->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Add group member
    </div>
    <%= render partial: "new_group_member" %>
</div>

<script>
    $(document).ready(function (e) {
        $('#add_new_member').on('click', function (e) {
            $('.ui.modal').modal('show');
        });
        $('#edit_project').on('click', function (e) {
            $('.ui.modal.edit-project').modal('show');
        });
    });
</script>
