<%= stylesheet_link_tag  'calendar.min.css', 'data-turbolinks-track': 'reload' %>

<div class="ui grid no-margins">
    <div class="sixteen wide column <%= !@projects.present? ? 'center aligned' : '' %>">
        <!-- <div class="white-col"> -->
        <% if @projects.present? %>
            <div class="ui three cards" >
                <% @projects.each do |p| %>
                    <div class="ui card">
                        <div class="image">
                            <img src="<%= p.image_url %>">
                        </div>
                        <div class="content">
                            <%= link_to  p.title, project_path(p), class: 'header' %>
                                    <span><%= p.group.name %></span>
                            <div class="meta">
                                <span class="date">Started in <%= p.start %></span>
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="right-gap-15px">
                                <i class="comments outline icon"></i>
                                <%= p.comments.count %>
                            </span>
                            <span class="right-gap-15px">
                                <i class="tasks icon"></i>
                                <%= @todos.count %>                                
                            </span>
                        </div>
                        <div class="ui bottom attached progress">
                            <div class="bar"></div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% else %>
            <div class="ui message" style="background: white;text-align: center;">
                <p>No projects yet, start by creating one!</p>
            </div>
        <% end %>
        <div class="custom-create-new-project" id="add_new_project" data-tooltip = "Add project">+</div>
    <!-- </div> -->
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Add Project
    </div>
    <%= render partial: "new" %>
</div>

<%= javascript_include_tag 'calendar.min.js', 'data-turbolinks-track': 'reload' %>
<script>
    $(document).ready(function () {
        $('#add_new_project').on('click', function (e) {
            $('.ui.modal').modal({
                blurring: true,
                closable: false,
                onShow: function () {
                    $('#rangestart').calendar({
                        type: 'date',
                        endCalendar: $('#rangeend')
                    });
                    $('#rangeend').calendar({
                        type: 'date',
                        startCalendar: $('#rangestart')
                    });
                }
            }).modal('show');
        });
    });
</script>